form {
    background-color: lavender;
    display: inline-block;
    padding: 25px;
}

label {display: block;
    margin-bottom: 10px;}

input {
    padding: 3px;
    display: block;
}

.form-section {margin-bottom: 15px;}

#solution-section {
    color: rgb(35, 6, 196);
    font-size: 24px;
}
